USE [master]
GO
/****** Object:  Database [YS]    Script Date: 10/10/2017 11:31:04 AM ******/
CREATE DATABASE [YS]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'YS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MYSQLSERVER\MSSQL\DATA\YS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'YS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MYSQLSERVER\MSSQL\DATA\YS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [YS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [YS]
GO
USE [YS]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[activity_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[activity_time] [datetime] NOT NULL,
	[activity_type_id] [int] NOT NULL,
	[value_decimal] [decimal](18, 2) NULL,
	[value_int] [int] NULL,
	[value_text] [nchar](10) NULL,
	[item_id] [uniqueidentifier] NULL,
	[hint_id] [int] NOT NULL,
	[update_date] [datetime] NULL,
	[update_by] [nchar](50) NULL,
 CONSTRAINT [PK_ActivityHeader] PRIMARY KEY CLUSTERED
(
	[activity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityType]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityType](
	[activity_type_id] [int] NOT NULL,
	[activity_type_desc] [nchar](1000) NOT NULL,
	[icon_image_path] [nchar](1000) NULL,
	[update_date] [datetime] NOT NULL,
	[update_by] [nchar](50) NOT NULL,
 CONSTRAINT [PK_ActivityType] PRIMARY KEY CLUSTERED
(
	[activity_type_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vTodayActivity]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vTodayActivity] AS
SELECT
           A.activity_id
           ,A.user_id
           ,A.activity_time
           ,A.activity_type_id
           ,A.value_decimal
           ,A.value_int
           ,A.value_text
           ,A.item_id
           ,A.hint_id
		   ,AT.activity_type_desc
		   ,AT.icon_image_path

FROM ACTIVITY A INNER JOIN ActivityType AT ON A.activity_type_id = AT.activity_type_id
GO
/****** Object:  Table [dbo].[ActivityMeal]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityMeal](
	[meal_id] [uniqueidentifier] NOT NULL,
	[food_id] [int] NOT NULL,
	[meal_qty] [decimal](18, 2) NOT NULL,
	[meal_uom] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[food_id] [int] NOT NULL,
	[food_name] [nvarchar](100) NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED
(
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Program]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Program](
	[program_id] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Programs] PRIMARY KEY CLUSTERED
(
	[program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [uniqueidentifier] NOT NULL,
	[app_user_id] [int] NOT NULL,
	[user_name] [nvarchar](100) NULL,
	[first_name] [nvarchar](100) NULL,
	[last_name] [nvarchar](100) NULL,
	[email] [nvarchar](300) NULL,
	[weight] [decimal](4, 2) NULL,
	[age] [decimal](3, 1) NULL,
	[gender] [char](1) NULL,
	[update_time] [datetime] NULL,
	[update_by] [nchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProgram]    Script Date: 10/10/2017 11:31:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProgram](
	[user_program_id] [uniqueidentifier] NOT NULL,
	[user_id] [uniqueidentifier] NOT NULL,
	[program_id] [uniqueidentifier] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
 CONSTRAINT [PK_UserProgram] PRIMARY KEY CLUSTERED 
(
	[user_program_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserProgram]  WITH CHECK ADD  CONSTRAINT [FK_UserProgram_Program] FOREIGN KEY([program_id])
REFERENCES [dbo].[Program] ([program_id])
GO
ALTER TABLE [dbo].[UserProgram] CHECK CONSTRAINT [FK_UserProgram_Program]
GO
USE [master]
GO
